body {
  font-family: forma-djr-display, sans-serif;
  font-style: normal;
  letter-spacing: 1px;
  
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;

  .col_01 {
    width: 50%;
  }

  .col_02 {
    width: 50%;
  }
}
