body {
  padding:1em;
  font-family: forma-djr-display, sans-serif;
  font-style: normal;
  letter-spacing: 2px;
  background-color: #E0E3E4;
}

h2 {
  display: inline-block;
  font-size: 42px;
}

.app {

  .container {
    height: 50vh;
    width: 100vw;
    display: flex;

    .col_01 {
      width: 50%;
    }

    .col_02 {
      width: 50%;
    }
  }

  button {
    border: none;
    background-color: transparent;
    font-family: forma-djr-display, sans-serif;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 1px;

    &:hover {
      cursor: pointer;
      color: blue;
    }

    &:focus {
      outline: none;
    }
  }
}